:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: var(--primary-text-color);
}

/* utils */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}


/* =========HEADER============= */

.header{
background: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
}

.header-logo{
    font-size: 35px;
    line-height: 1.21;
    color: var(--secondary-text-color);
}

.accent{
  color: var(--accent-color);
}

.header-nav-link{
    line-height: 1.56;
    color: var(--secondary-text-color);
}