<section class="business-cases" id="cases">
  <div class="container">
    <h3 class="title-secondary">This is what we do</h3>
    <h2 class="title">Business Cases</h2>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="business-cases-list list gallery">
      <li class="business-cases-item">
        <a href="./images/bussinescases/gallary/bussines1-3x.jpg"
          ><img
            src="./images/bussinescases/bussines1.jpg"
            alt="meeting"
            width="320"
            height="214"
            loading="lazy"
        /></a>
      </li>

      <li class="business-cases-item">
        <a href="./images/bussinescases/gallary/bussines2-3x.jpg"
          ><img
            src="./images/bussinescases/bussines2.jpg"
            alt="diagramma and book"
            width="320"
            height="214"
            loading="lazy"
        /></a>
      </li>

      <li class="business-cases-item">
        <a href="./images/bussinescases/gallary/bussines1-3x.jpg"
          ><img
            src="./images/bussinescases/bussines3.jpg"
            alt="handshake"
            width="320"
            height="214"
            loading="lazy"
        /></a>
      </li>

      <li class="business-cases-item">
        <a href="./images/bussinescases/gallary/bussines1-3x.jpg"
          ><img
            src="./images/bussinescases/bussines4.jpg"
            alt="team handshake"
            width="320"
            height="214"
            loading="lazy"
        /></a>
      </li>

      <li class="business-cases-item">
        <a href="./images/bussinescases/gallary/bussines1-3x.jpg"
          ><img
            src="./images/bussinescases/bussines5.jpg"
            alt="notebook"
            width="320"
            height="214"
            loading="lazy"
        /></a>
      </li>

      <li class="business-cases-item">
        <a href="./images/bussinescases/gallary/bussines1-3x.jpg"
          ><img
            src="./images/bussinescases/bussines6.jpg"
            alt="skyscraper"
            width="320"
            height="214"
            loading="lazy"
        /></a>
      </li>

      <li class="business-cases-item">
        <a href="./images/bussinescases/gallary/bussines1-3x.jpg"
          ><img
            src="./images/bussinescases/bussines7.jpg"
            alt="bussines team"
            width="320"
            height="214"
            loading="lazy"
        /></a>
      </li>

      <li class="business-cases-item">
        <a href="./images/bussinescases/gallary/bussines1-3x.jpg"
          ><img
            src="./images/bussinescases/bussines8.jpg"
            alt="bussines team work"
            width="320"
            height="214"
            loading="lazy"
        /></a>
      </li>
    </ul>
  </div>
</section>
