<section class="business-cases">
  <div class="container">
    <h3 class="title-secondary">This is what we do</h3>
    <h2 class="title">Business Cases</h2>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="business-cases-list list">
      <li class="business-cases-item">
        <img src="./images/bussinescases/bussines1.jpg" alt="meeting" ; />
      </li>
      <li class="business-cases-item">
        <img
          src="./images/bussinescases/bussines2.jpg"
          alt="diagramma and book"
          ;
        />
      </li>
      <li class="business-cases-item">
        <img src="./images/bussinescases/bussines3.jpg" alt="handshake" ; />
      </li>
      <li class="business-cases-item">
        <img
          src="./images/bussinescases/bussines4.jpg"
          alt="team handshake"
          ;
        />
      </li>
      <li class="business-cases-item">
        <img src="./images/bussinescases/bussines5.jpg" alt="notebook" ; />
      </li>
      <li class="business-cases-item">
        <img src="./images/bussinescases/bussines6.jpg" alt="skyscraper" ; />
      </li>
      <li class="business-cases-item">
        <img src="./images/bussinescases/bussines7.jpg" alt="bussines team" ; />
      </li>
      <li class="business-cases-item">
        <img
          src="./images/bussinescases/bussines8.jpg"
          alt="bussines team work"
          ;
        />
      </li>
    </ul>
  </div>
</section>
