<footer class="footer" id="footer">
  <ul class="social-network-list list">
    <li class="social-network-item">
      <a href="" class="social-network-link">
        <svg width="35" height="35">
          <use href="./images/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social-network-item">
      <a href="" class="social-network-link">
        <svg width="35" height="35">
          <use href="./images/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>
    <li class="social-network-item">
      <a href="" class="social-network-link">
        <svg width="40" height="35">
          <use href="./images/icons.svg#youtube"></use>
        </svg>
      </a>
    </li>
    <li class="social-network-item">
      <a href="" class="social-network-link">
        <svg width="31" height="35">
          <use href="./images/icons.svg#linkindin"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p class="footer-copyright">Copyright © 2022 - FinanceLedger</p>
</footer>
