<section class="request-callback">
  <div class="container callback">
    <img
      src="./images/reqwest-callback/Rectangle.jpg"
      alt="callback you"
      width="680px"
      height="460px"
    />

    <form action="#" class="form-callback">
      <div class="callback-input-field">
        <p class="callback-title title">Request Callback</p>
        <label class="input-field">
          <input
            type="text"
            class="form-input"
            placeholder="Enter your name"
            name="name"
            required
          />
        </label>
        <label class="input-field">
          <input
            type="email"
            class="form-input"
            placeholder="Enter email*"
            name="email"
            required
          />
        </label>
        <button class="btn-submit button" type="submit">Send</button>
      </div>
    </form>
  </div>
</section>
