.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 10px 30px 10px 40px;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}

.button-icon {
  margin-right: 5px;
}

.button.secondary {
  background-color: transparent;
  border: 1px solid var(--secondary-text-color);
}
