.article-box {
  display: flex;
  padding: 0;
}

.time-title {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-text-color);
}

.blog-title {
  margin-bottom: 26px;
  color: var(--secondary-text-color);
}

.blog-text {
  line-height: 1.5;
  color: var(--secondary-text-color);
  margin-bottom: 28px;
}

.blog-description {
  padding: 112px 44px 113px 30px;
  background-color: var(--third-text-color);
}

.blog-btn {
  @extend .button;

  background-color: transparent;
  border: 1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  width: 196px;
  height: 50px;
}
