.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-scroll {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.logo-icon {
  fill: var(--accent-color);
}

.header .container {
  padding: 0 50px;
}

.header-logo {
  padding: 20px 0;
  margin-right: auto;
  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}

.header-nav-item:not(:last-child) {
  margin-right: 38px;
}

.accent {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-nav-link {
  line-height: 1.56;
  color: var(--secondary-text-color);
}
